<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow">
      <%= link_to destroy_admin_session_path, method: :delete, class: "dropdown-item" do %>
        <%= t ".log_out" %>
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
      <% end %>
    </li>
  </ul>
</nav>
