$primary-light-blue: #8db9ed;
$primary-line-color: #ccc;
$peru: #e7b038;
$goldenrod: #f3b12b;
$white: white;
$darkgray: #9f9f9f;
$aqua: aqua;
$dimgray: #666;
$darkslategray: #413e3e;
$red: #f00 ;
$gray: gray;
$light-blue: #62b1ed;
$black: black;
$light-red: #df4b3b;
$dark-blue: #3c589c;
$rgba12: rgba(0,0,0,0.12);
$rgba24: rgba(0,0,0,0.24);
$blue: #224abe;
$green: rgb(12, 97, 33);
$yellow: #ffff3d;
$silver : #bdbdbd;
